.video__bg {
    width: 100%;
    height: 600px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.video__bg .video__bg--title {
    text-align: center;
    font-size: 25px;
    text-transform: capitalize;
    margin: 20px 0px 40px;
}

.video__bg .video__bg-wrapper {
    position: relative;
    width: 80%;
    height: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.video__bg .video__bg-wrapper video {
    width: 60%;
    outline: none;
}

.video__bg .video__bg-wrapper .video__wrapper-bot {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 50%;
    padding: 0px 0px 0px 100px;
}

.video__bg .video__bg-wrapper .video__wrapper-bot h1 {
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.video__bg .video__bg-wrapper .video__wrapper-bot p {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}

.video__bg .video__bg-wrapper .video__wrapper-bot a {
    border: 1px solid rgba(0, 0, 0, 0.4);
    padding: 12px 27px;
    color: #262626;
    transition: .5s;
    text-align: center;
}

.video__bg .video__bg-wrapper .video__wrapper-bot a:hover {
    color: #fff;
    background: rgba(0, 0, 0, 0.6);
    border: 1px solid rgba(0, 0, 0, 0.6);
}

@media only screen and (max-width: 1473px) {
    .trend .trend__products .trend__products--wrapper {
        width: 334%;
    }
}