.second-head {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.second-head .media-down {
    width: 100%;
    margin-top: 10px;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-hidden {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 20%;
    padding-left: 20px;
}

.search-hidden p {
    margin-right: 5px;
}

.search-hidden .icons-search {
    transition: 0.5s;
    transform: rotate(90deg);
    cursor: pointer;
    font-size: 21px;
}

.search-hidden .icons-search:hover {
    transform: rotate(-10deg);
}

.search-hidden .block-search {
    position: absolute;
    top: 25%;
    left: 50%;
    width: 0px;
    display: flex;
    flex-direction: column;
    height: auto;
    border: 1px solid;
    background: #fff;
    border-radius: 5px;
    transform: scale(0) translate(-50%, -50%);
    visibility: hidden;
    transform-origin: center;
    transition: .5s;
    z-index: -1;
}

.search-hidden .block-search.active {
    width: 500px;
    display: flex !important;
    transform: scale(1) translate(-50%, -50%);
    transform-origin: center;
    visibility: visible;
    z-index: 20;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -10000;
}

.overlay.active {
    background: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.search-hidden .block-search .text-search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.search-hidden .block-search .text-search h3 {
    font-size: 14px;
    font-weight: bold;
}

.search-hidden .block-search .text-search .icons-close {
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.search-hidden .block-search .search-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.search-hidden .block-search .search-bar input {
    width: 100%;
    height: 100%;
    padding: 15px;
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 5px;
}

.search-hidden .block-search .search-bar .icons-search2 {
    position: absolute;
    top: 0;
    right: 11px;
    width: 23px;
    height: 100%;
    color: #000;
    transform: rotate(0deg);
    transition: 0.5s;
    cursor: pointer;
}

.search-hidden .block-search .search-bar .icons-search2:hover {
    transform: rotate(90deg);
}

.media-down .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60%;
}

.media-down .navbar .logo {
    width: 150px;
    position: relative;
    height: 70px;
}

.media-down .navbar .logo img {
    width: 100%;
    height: 100%;
}

.media-down .navbar .navbar-down {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    position: relative;
}

.media-down .navbar .navbar-down .inside-nav {
    display: none;
}

.media-down .navbar .navbar-down ul.full-drop {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.media-down .navbar .navbar-down ul.full-drop li {
    padding: 5px 6px;
    border: none;
    margin: 2px 10px 20px 10px;
}

.media-down .navbar .navbar-down ul.full-drop li a {
    text-decoration: none;
    color: rgb(49, 48, 48);
    font-weight: 500;
    font-size: 20px;
}

.media-down .navbar .navbar-down ul.full-drop .f-drop {
    position: relative;
    transition: 0.5s;
}

.media-down .navbar .navbar-down ul.full-drop .f-drop .drop-down {
    position: absolute;
    top: 35px;
    left: -15px;
    padding: 0;
    list-style: none;
    transform: translateY(100px);
    width: 200px;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
    transition: 0.5s;
    z-index: -1;
    perspective: 1200px;
    transform-origin: bottom;
}

.media-down .navbar .navbar-down ul.full-drop .f-drop:hover .drop-down {
    transform: translateY(0px);
    opacity: 1;
    z-index: 1;
    visibility: visible;
}

.media-down .navbar .navbar-down ul.full-drop .f-drop .drop-down li {
    position: relative;
    padding: 10px;
    border: none !important;
}

.media-down .navbar .navbar-down ul.full-drop .f2-drop {
    position: relative;
    transition: 0.5s;
}

.media-down .navbar .navbar-down ul.full-drop .f2-drop .drop-down-second {
    position: absolute;
    top: 35px;
    left: -15px;
    padding: 10px 10px;
    list-style: none;
    transform: translateY(100px);
    width: 200px;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
    transition: 0.5s;
    z-index: -1;
    perspective: 1200px;
    transform-origin: bottom;
}

.media-down .navbar .navbar-down ul.full-drop .f2-drop:hover .drop-down-second {
    transform: translateY(0px);
    opacity: 1;
    z-index: 1;
    visibility: visible;
}

.media-down .navbar .navbar-down ul.full-drop .f2-drop .drop-down-second li {
    position: relative;
    padding: 10px;
    border: none !important;
}

.media-down .user-cart {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;
    width: 20%;
    height: 100%;
}

.media-down .user.bar-3 {
    display: none;
    font-size: 26px !important;
}

.media-down .user-cart .user {
    position: relative;
    width: 25px;
    margin: 0px 15px 0px 0px;
    height: 25px;
    font-size: 25px;
    text-decoration: none;
    color: #000;
}

.media-down .user-cart .user.cart-shop span {
    position: absolute;
    top: -2px;
    right: -5px;
    width: 15px;
    height: 15px;
    background: #000;
    color: #fff;
    z-index: 1;
    padding: 5px;
    border-radius: 50%;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.media-down .user-cart .user.info .subbox {
    width: 200px;
    height: auto;
    position: absolute;
    top: 35px;
    left: -115px;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    transform: translateY(200px);
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
    z-index: 1;
}

.media-down .user-cart .user.info:hover .subbox {
    transform: translateY(0px);
    visibility: visible;
    opacity: 1;
}

.media-down .user-cart .user.info .subbox ul {
    display: flex;
    flex-direction: column;
    position: relative;
    float: left;
    list-style: none;
    background: #fff;
}

.media-down .user-cart .user.info .subbox ul li.page_item {
    width: 100%;
    padding: 15px 70px 15px 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.media-down .user-cart .user.info .subbox ul li.page_item a {
    font-size: 17px;
    margin: 5px;
}

.navbar-down.hidden {
    display: none;
}

.navbar-down.hidden .inside-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
}

.navbar-down.hidden .inside-nav input[type="text"] {
    width: 100%;
    padding: 12px 10px;
    outline: none;
    font-size: 16px;
    color: #000;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.navbar-down.hidden .inside-nav .inside-nav__icons-search {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    transition: 0.5s;
    transform: rotate(0deg);
    cursor: pointer;
}

.navbar-down.hidden .inside-nav .inside-nav__icons-search:hover {
    transform: rotate(90deg);
}

.navbar-down.navbar-down.hidden .full-drop.media {
    width: 100%;
    position: relative;
    padding-top: 30px;
    list-style: none;
    height: 100%;
}

.navbar-down.navbar-down.hidden ul.full-drop.media li {
    padding: 0px 0px 12px;
    font-size: 15px;
    font-weight: 600;
}

.navbar-down.navbar-down.hidden ul.full-drop.media li.f-drop {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    height: 30px;
    transition: 0.5s;
    overflow: hidden;
}

.navbar-down.navbar-down.hidden ul.full-drop.media li.f-drop.active {
    height: 140px;
}

.navbar-down.navbar-down.hidden ul.full-drop.media li.f-drop .f-drop__wrap {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.navbar-down.navbar-down.hidden ul.full-drop.media li.f-drop .f-drop__wrap .icon-drop,
.f2-drop.media-drop .f-drop__wrap .icon-drop {
    transform: rotate(0);
    width: 20px;
    height: 20px;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-origin: center;
    cursor: pointer;
}

.navbar-down.navbar-down.hidden ul.full-drop.media li.f-drop .f-drop__wrap .icon-drop.active,
.f2-drop.media-drop .f-drop__wrap .icon-drop.active {
    transform: rotate(90deg);
}

.navbar-down.navbar-down.hidden ul.full-drop.media li.f-drop ul.drop-down {
    width: 100%;
    height: 100%;
    margin-left: 20px;
    list-style: none;
}

.f2-drop.media-drop {
    position: relative;
    display: flex;
    justify-content: flex-start;
    height: 30px;
    overflow: hidden;
    align-items: flex-start;
    flex-direction: column;
    transition: 0.5s;
}

.f2-drop.media-drop.active {
    height: 85px;
}

.f2-drop.media-drop .f-drop__wrap {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.full-drop.media .f2-drop.media-drop .drop-down-second {
    width: 100%;
    height: 100%;
    margin-left: 20px;
    list-style: none;
}

.close-media {
    display: none;
    position: absolute;
    width: 40px;
    height: 40px;
    background: transparent;
    z-index: 20;
    justify-content: center;
    color: #fff;
    top: 15px;
    right: -150px;
    border: 3px solid #fff;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
}

.close-media.active {
    right: 15px;
}

.close-media .ai-icons--close {
    width: 100%;
    height: 100%;
}