.carousel {
    width: 100%;
    height: 775px;
    position: relative;
    overflow: hidden;
}

.carousel .carousel-wrap {
    width: 200%;
    height: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    left: 0;
    transition: .5s;
}

.carousel .carousel-wrap.next {
    left: -100%;
}

.carousel .carousel-wrap .carousel__box {
    position: relative;
    width: 100%;
    height: 100%;
    transition: .5s;
}

.carousel .carousel-wrap .carousel__box .carousel__box--img {
    width: 100%;
    height: 100%;
    position: relative;
    background: rgba(0, 0, 0, 0.3);
}

.carousel .carousel-wrap .carousel__box .carousel__box--img img {
    height: 100%;
    width: 100%;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.carousel .carousel-wrap .carousel__box .carousel__box--img img.inspired {
    /*filter: opacity(55%);*/
    /*filter: invert(100%);*/
    /* filter: grayscale(100%); */
}

.carousel .carousel-wrap .carousel__box .carousel__box--img img.carousel2 {
    /*filter: opacity(55%);*/
    /*filter: invert(100%);*/
    /* filter: grayscale(100%); */
}

.carousel .carousel-wrap .carousel__box .carousel__box--content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: auto;
    text-align: center;
    border: 3px solid #fff;
    backdrop-filter: blur(5px);
    overflow: hidden;
}

.carousel .carousel-wrap .carousel__box .carousel__box--content p.inspired {
    font-size: 68px;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 5px;
    color: #fff;
    font-weight: bold;
}

.carousel .carousel-wrap .carousel__box .carousel__box--content.two {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    width: 60%;
    height: auto;
    border: 3px solid #fff;
    backdrop-filter: blur(5px);
}

.carousel .carousel-wrap .carousel__box .carousel__box--content.two p.south-america {
    font-size: 68px;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 5px;
    color: #fff;
    font-weight: bold;
}

.carousel .carousel-btn {
    position: absolute;
    top: 50%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    color: #000;
    font-size: 20px;
    z-index: 10;
    cursor: pointer;
    transition: 0.3s;
}

.carousel .carousel-btn:hover {
    font-size: 25px;
}

.carousel .carousel-btn.prev {
    left: 0;
}

.carousel .carousel-btn.next {
    right: 0;
}

.carousel .carousel__dots {
    position: absolute;
    bottom: 5%;
    left: 46%;
    width: 70px;
    height: 20px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    cursor: pointer;
    transition: 0.3s;
}

.carousel .carousel__dots .carousel-dot {
    position: relative;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #000;
    border: 1px solid #fff;
    margin: 5px;
    color: #000;
}

.carousel .carousel__dots .carousel-dot.active {
    background: rgba(255, 255, 255, 0.4);
}

.carousel__box .shop-btn {
    position: absolute;
    width: 200px;
    height: auto;
    padding: 10px;
    top: 58%;
    left: 20%;
    border: 1px solid #fff;
    backdrop-filter: blur(5px);
    cursor: pointer;
    text-align: center;
    transition: 0.5s;
    overflow: hidden;
}

.carousel__box .shop-btn a {
    position: relative;
    width: 100%;
    text-decoration: none;
    height: 100%;
    padding: 10px;
    background: transparent;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
}

.carousel__box .shop-btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100px;
    height: 130%;
    transform: skewX(30deg);
    background: linear-gradient(to right, #eaf1ea, #ffffff);
    transition: 0.5s;
    backdrop-filter: blur(10px);
}

.carousel__box .shop-btn:hover:before {
    left: 200%;
}

.carousel__box .carousel__box--content::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 200px;
    height: 130%;
    transform: skewX(30deg);
    background: linear-gradient(to right, #eaf1ea, #ffffff);
    transition: 0.5s;
    backdrop-filter: blur(10px);
}

.carousel__box .carousel__box--content:hover:before {
    left: 200%;
}